@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
}

table{
    color: black;
    box-align: center;
}

a{
    background-color: darkblue;
    color: white;
}
a:hover{
    background: white;
}

